<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Hello Student!</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--<script type="text/javascript" src="/static/js/addProject.js"></script>-->
<script type="text/javascript" th:src="@{/js/socket.io/socket.io.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/addProject.js}"></script>

<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<h2>You are a <span th:text="${position}" /></h2>
<h2>PLZ add your project </h2>
<input type="text" id="projectName" title="Your project name">
<input type="text" id="projectDescription" title="Your project description">
<button id="sendProject">Send</button>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>