<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<h2>You are a <span th:text="${position}" /></h2>
<h2>plz rate works you liked</h2>
<table th:object="${allProjects}" id="table" border="1">
    <tr th:each="project : ${allProjects}">
        <td  th:text="${project.getProjectId()}"></td>
        <td  th:text="${project.getProjectName()}"></td>
        <td  th:text="${project.getProjectDescription()}"></td>
        <td  th:text="${project.getStudentName()}"></td>
<!--        <td  th:text="${allProjects.marks}"></td>-->
    </tr>
</table>
</body>
</html>